@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.heading {
    padding-bottom: 10px;
    display: flex;
    width: 100vw;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    font-size: x-large;
    font-weight: bolder;
    font-variant: small-caps;
    background-color: aquamarine;
    color: black;
    top: 0px;
}

.container {
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
    justify-content: space-evenly;
    align-content: center;
    grid-template-rows: repeat(5, 400px);
    grid-template-columns: repeat(2, 400px);
    gap: 20px;
    font-family: "Merriweather";
    background: #8c80ac;
    background-image: url("./qL9wz.png");
    background-image: url("./pngtree-rocket-starry-sky-tiled-background-image_498050.jpg");
}

.back {
    position: fixed;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: larger;
    border-radius: 50px;
    position: relative;
    animation: make 0.3s ease;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 6.0px);
    -webkit-backdrop-filter: blur( 6.0px);
    border-radius: 20px;
    transition: transform 0.3s ease;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.profile:hover {
    transform: scale(1.05, 1.05);
}

@keyframes make {
    0% {
        transform: scale(0.5, 0.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.name-content,
.email-content {
    margin: 20px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    border-radius: 50px;
    background: #8c80ac;
    box-shadow: 20px 20px 60px #534c66, -20px -20px 60px #a193c6;
}

.name,
.email {
    margin: 20px;
    display: flex;
    padding: 10px;
    width: 75%;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    border-radius: 50px;
    background: #ac8080;
    box-shadow: 20px 20px 60px #292633, -20px -20px 60px #a193c6;
}

.controls {
    width: max-content;
    position: relative;
    right: 10%;
    height: 50px;
    position: fixed;
    overflow: hidden;
}

.controls input {
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-variant: small-caps;
    padding-top: 15px;
    border: none;
    font-size: 20px;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    bottom: 0px;
}

.controls label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-variant: small-caps;
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.controls label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    border-bottom: 2px solid red;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.controls input:focus+.label-1 .content,
.controls input:not(:placeholder-shown)+.label-1 .content {
    transform: translateY(-140%);
    font-size: 12px;
    color: #5fa8d3;
    color: red;
}

.controls input:focus+.label-1::after,
.controls input:not(:placeholder-shown)+.label-1::after {
    transform: translateX(0%);
}

@media only screen and (max-width: 841px) {
    .container {
        width: max-content;
    }
}

#logo {
    position: absolute;
    left: 2%;
    display: grid;
    /* flex-direction: column; */
    grid-template-rows: 50vh;
    animation: fill 0.5s ease forwards 4.1s;
    top: 25%;
    justify-content: center;
    text-shadow: none;
}

#logo path:nth-child(1) {
    stroke-dasharray: 171.49754333496094px;
    stroke-dashoffset: 171.49754333496094px;
    animation: line 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 156.157470703125px;
    stroke-dashoffset: 156.157470703125px;
    animation: line 2s ease forwards 0.2s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 170.24026489257812px;
    stroke-dashoffset: 170.24026489257812px;
    animation: line 2s ease forwards 0.4s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 176.58029174804688px;
    stroke-dashoffset: 176.58029174804688px;
    animation: line 2s ease forwards 0.6s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 161.0999755859375px;
    stroke-dashoffset: 161.0999755859375px;
    animation: line 2s ease forwards 0.8s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 262.1272888183594px;
    stroke-dashoffset: 262.1272888183594px;
    animation: line 2s ease forwards 1.2s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 196.51107788085938px;
    stroke-dashoffset: 196.51107788085938px;
    animation: line 2s ease forwards 1.4s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 209.88986206054688px;
    stroke-dashoffset: 209.88986206054688px;
    animation: line 2s ease forwards 1.6s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 171.49789428710938px;
    stroke-dashoffset: 171.49789428710938px;
    animation: line 2s ease forwards 1.8s;
}

#logo path:nth-child(10) {
    stroke-dasharray: 116.89999389648438px;
    stroke-dashoffset: 116.89999389648438px;
    animation: line 2s ease forwards 2s;
}

#logo path:nth-child(11) {
    stroke-dasharray: 161.09991455078125px;
    stroke-dashoffset: 161.09991455078125px;
    animation: line 2s ease forwards 2.2s;
}

#logo path:nth-child(12) {
    stroke-dasharray: 190.64804077148438px;
    stroke-dashoffset: 190.64804077148438px;
    animation: line 2s ease forwards 2.4s;
}

#logo path:nth-child(13) {
    stroke-dasharray: 171.49803161621094px;
    stroke-dashoffset: 171.49803161621094px;
    animation: line 2s ease forwards 2.6s;
}

@keyframes line {
    to {
        stroke-dashoffset: 0px;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: rgb(255, 255, 255);
    }
}